nguide(2,'D40','D40')
sapmot('D12.5')
Detector.det =12842
Detector.curtaindet = 2842
Detector.curtainl = 280
Detector.curtainr = 280
Detector.curtainu = 150
Detector.curtaind = 150
Detector.drive()
#transmission setup
att_pos(3)
bs4(0.0)
#scattering setup
bs4(65.8)
att_pos(1)