nguide(5,'D40','D40')
Detector.det = 5842
Detector.curtaindet = 1642
Detector.curtainl = 160
Detector.curtainr = 160
Detector.curtainu = 120
Detector.curtaind = 120
Detector.drive()
sapmot('D15')
#transmission setup
att_pos(3)
bs4(0.0)
#scattering setup
bs4(65.8)
att_pos(1)